body{
    text-align: center;
}

.main-block{
    
    height: 500px;
    width: 300px;
    margin: 0 auto;

}

.sub-block{
    background-color: rgb(55, 53, 53);
    border: 2px black solid;
    border-radius: 16px;
    height: 160px;
    width: 100%;
    text-align: cetner;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 20px;
    color: white;

}

#main-form{
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(55, 53, 53);
    border: 2px black solid;
    border-radius: 16px;
    align-items: center;
    color: white;

}

h2{

    text-align: center;
}

.form-input{

    border-radius: 6px;
    width: 250px;
    height: 40%;

}

#form-button{

    border-radius: 6px;

}